.teachers-register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f1e9da;
    border-radius: 10px;
    width: 320px;
    margin: 0 auto;
    background-image: url('../images/image6.avif');
  }
  
  .teachers-register-container h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .teachers-register-container input {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .teachers-register-container button {
    padding: 10px;
    width: 100%;
    /* background-color: rgb(196, 130, 8); */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .teachers-register-container button:hover {
    background-color: #fff;
    color:rgb(211, 144, 21);
    border: #333 solid 0.4px;
  }
  